<div class="container">
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-3">
            <div class="card mt-5 mb-3 d" style="width: 18rem;">
                <img src="assets/img/perfil.png" class="card-img-top e" alt="Perfil">
            </div>
        </div>
        <div class="col-sm-7">
            <div class="card mt-5 mb-3 d" style="max-width: 540px;">
                <div class="row ">
                    <div class="col-md-12">
                        <div class="card-body">
                            <h3 class="card-title a"><b>FERNANDO YAIR VALENCIA NELO</b></h3>
                            <h5 class="card-text b">Ingeniero en Sistemas Computacionales</h5>
                            <hr class="c">
                            <h4 class="card-title">CONTACTO</h4>
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="basic-addon1">
                          <i class="fas fa-at"></i>
                        </span>
                                <input type="text" disabled class="form-control" value="ingfernandoyair@gmail.com" aria-describedby="basic-addon1">
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="basic-addon1">
                          <i class="fas fa-phone-volume"></i>
                        </span>
                                <input type="text" disabled class="form-control" value="2381732107" aria-describedby="basic-addon1">
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="basic-addon1">
                          <i class="fas fa-map-marker-alt"></i>
                      </span>
                                <input type="text" disabled class="form-control" value="Tehuacán Puebla" aria-describedby="basic-addon1">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-1"></div>
    </div>