.header {
    text-align: center;
    height: 300px;
    padding: 12px;
    background-color: rgb(63, 63, 90);
    /* background-image: url('assets/img/fondoAvatar1.png'); */
}

.avatar {
    width: 150px;
    height: 200px;
    border-radius: 50%;
}

.user-name {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    margin-top: 10px;
    color: whitesmoke;
}

.socials {
    list-style: none;
    text-align: center;
    font-size: 20px;
    padding: 0;
}

.socials li {
    display: inline-block;
    margin: 13px;
}

a {
    text-decoration: none;
    color: cadetblue;
}

a:hover {
    color: cadetblue;
}

.format {
    color: cadetblue;
}

.icon {
    width: 16px;
    height: 16px;
    display: inline-block;
    background-size: cover;
}

.about {
    padding: 10px;
}

.about h3 {
    color: rgb(56, 55, 55);
    font-size: 16px;
}

.about p {
    color: rgb(56, 55, 55);
    font-size: 16px;
}
