<div class="container animated fadeIn">
    <div class="header">
        <img class="avatar" src="assets/img/perfil.png" alt="Perfil">
        <h3 class="user-name"><b>{{data.name}}</b></h3>
        <h5 class="user">{{data.titulo}}</h5>
    </div>
    <ul class="socials">
        <li>
            <i class="fas fa-at icon"></i>
            <a href="mailto:ingfernandoyair@gmail.com">
        {{data.email}}
      </a>
        </li>
        <li>
            <i class="fab fa-linkedin-in icon"></i>
            <a href="https://www.linkedin.com/in/fernandoyair">
              {{data.linke}}
      </a>
        </li>
        <li>
            <i class="fas fa-phone-volume icon"></i>
            <a class="format">
        {{data.tel}}
      </a>
        </li>
    </ul>
    <div class="about">
        <h3>Acerca de</h3>
        <p class="text-justify">
            {{data.desc}}
        </p>
    </div>
</div>
