.a {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 13pt;
    margin: 0%;
    padding: 0%;
}

.b {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 10pt;
    color: dimgray;
    margin: 0%;
    padding: 0%;
}

.c {
    margin: 0 2 0 0;
    padding: 0%;
    color: cadetblue;
    background-color: darkslategray;
}

.d {
    border: none;
}

.e {
    width: 230px;
    border-radius: 45px;
    margin-right: auto;
    display: block;
}
