<h1 class="animated fadeIn"><b>{{poke | uppercase}}</b></h1>
<hr>
<div class="row animated fadeIn">
    <div class="col-md-4">
        <img [src]="pokeImg" class="card-img-top img-fluid" [alt]="poke">
        <br><br>
        <a [routerLink]="['/home']" class="btn btn-outline-danger btn-block">Regresar</a>
    </div>

    <div class="col-md-8">
        <div class="row mt-2">
            <div class="col text text-center">
                <h3 class="text-center a">{{poke | uppercase}}</h3>
            </div>
            <div class="col">
                <mat-chip-list aria-label="Fish selection">
                    <mat-chip selected>Type: {{type}}</mat-chip>
                </mat-chip-list>
            </div>
            <div class="col">
                <mat-chip-list aria-label="Fish selection">
                    <mat-chip selected>Habilidad: {{abilities}}</mat-chip>
                </mat-chip-list>
            </div>
        </div>

        <hr>
        <div>
            <h3 class="text text-center"><b><span>RESUMEN</span></b></h3>
            Peso:
            <div class="progress">
                <div class="progress-bar progress-bar-striped bg-primary" role="progressbar" [style.width]="respons.weight + '%'" [attr.ariaValuenow]="respons.weight" aria-valuemin="0" aria-valuemax="100">{{respons.weight}}%</div>
            </div>
            Altura:
            <div class="progress">
                <div class="progress-bar progress-bar-striped bg-success" role="progressbar" [style.width]="respons.height + '%'" [attr.ariaValuenow]="respons.height" aria-valuemin="0" aria-valuemax="100">{{respons.height}}</div>
            </div>
        </div>
    </div>

</div>
