<h1><b>{{poke | uppercase}}</b></h1>
<hr>
<div class="row">
    <div class="col-md-4">
        <img [src]="pokeImg" class="card-img-top img-fluid" [alt]="poke">
        <br><br>
        <a [routerLink]="['/home']" class="btn btn-outline-danger btn-block">Regresar</a>
    </div>

    <div class="col-md-8">
        <div class="text text-center">
            <h3 class="text-center a">{{poke | uppercase}}</h3>
        </div>
        <!-- <div class="col-col-sm-7">
            <mat-chip-list aria-label="Fish selection">
                Tipo:
                <mat-chip color="primary" selected>{{type }}</mat-chip>
            </mat-chip-list>
        </div> -->
        <hr>
        <div>
            <h3 class="text text-center"><b><span>RESUMEN</span></b></h3>
            <mat-chip-list aria-label="Fish selection">
                <mat-chip selected>Type: {{type}}</mat-chip>
                <mat-chip selected>Weight: {{weight}}</mat-chip>
                <mat-chip selected>Height: {{respons.height}}</mat-chip>
            </mat-chip-list>
            <mat-chip-list aria-label="Fish selection" *ngFor="let item of respons">
                <mat-chip selected>Data: {{item.abilities[0].ability.name}}</mat-chip>
            </mat-chip-list>
        </div>
    </div>

</div>
